@font-face {
    font-family: Assistant;
    src: url("../assets/fonts/Assistant-Regular.ttf");
    font-weight: 100;
}

@font-face {
    font-family: Assistant;
    src: url("../assets/fonts/Assistant-SemiBold.ttf");
    font-weight: 200;
}

@font-face {
    font-family: Assistant;
    src: url("../assets/fonts/Assistant-Bold.ttf");
    font-weight: 800;
}

html, body {
    -webkit-user-select: none;
    font-family: "Assistant";
    font-weight: 100;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    direction: rtl;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: #E8E8E8;
}

/* טוען */
.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0D635F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #E8E8E8;
    font-size: 2em;
    font-weight: 800;
}

.loader > img {
    width: 50vw;
}

.loader.fade {
    animation: fadeOut 1s 2s forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* ניווט עליון */
.topNavBar {
    height: 10vh;
    width: 53.5vw;
    background: #0D635F;
    position: fixed;
    top: 0;
    padding-left: 21.5vw;
    padding-right: 25vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.topNavText {
    color: white;
    font-size: 1.7em;
    font-weight: 800;
}

.topNavLine {
    background-color: #E8E8E8;
    height: 8vh;
    width: 0.4vw;
    position: absolute;
    right: 26vw;
}

.topNavLineGray {
    background-color: rgb(158, 157, 157);
    height: 8vh;
    width: 0.4vw;
    position: absolute;
    right: 26vw;
}

.bhdLogo {
    height: 4vh;
    position: absolute;
    left: 15vw;
}

.SearchIcon {
    width: 5vw;
    position: absolute;
    right: 17vw;
}

.topNavTextIcon {
    width: 9vw;
    height: 5vh;
}

.tillLogo {
    width: 10vw;
    position: absolute;
    left: 3vw;
}

.button_about {
    width: 8vw;
    position: absolute;
    right: 3vw;
}

.button_menu {
    width: 8vw;
    position: absolute;
    right: 3vw;
}

.button_x {
    width: 8vw;
    position: absolute;
    right: 3vw;
}

/* עמוד ראשי */
.mainPage {
    position: absolute;
    top: 10.5vh;
    overflow-y: scroll;
}

.mainPageButton {
    border-bottom: solid #0D635F 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.mainPageButton.recipe {
    border-top: solid #0D635F 2em;
}

.textImg {
    width: 53vw;
    padding: 1em;
}

.foodImg {
    width: 35vw;
    height: 15vh;
}

.textImgVideo {
    width: 56vw;
}

.textImgGallery {
    width: 38vw;
    padding-left: 4em;
}

.sub-titles {
    font-weight: bold;
    padding-top: 1em;
}

/* אודות */

.aboutPage {
    padding: 1vh 4vw;
    height: 80vh;
    width: 92vw;
    position: absolute;
    top: 10vh;
    font-size: 1.2em;
    font-family: "Assistant";
}


.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 5vw;
    top: 5vh;
}

.logos > img {
    width: 12vw;
}

.logos :last-child {
    width: 22vw;
}

.aboutPage .backToMain {
    position: absolute;
    bottom: 6vh;
    width: 10vw;
}

/* חיפוש */
.darkScreen {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.411);
    z-index: 1;
    top: 0;
}

.searchBox {
    background-color: #E8E8E8;
    top: 23vh;
    width: 74vw;
    height: 10vh;
    border: none;
    border-radius: 0.4em;
    font-size: 1.4em;
    font-family: "Assistant";
    font-weight: 200;
    padding: 0 1em;
}

.searchBox:focus{
    outline: none;
    top: 11vh;
}

.closeSearch {
    position: absolute;
    top: 7vh;
    right: 5vw;
    width: 12vw;
}

.searchIcon {
    position: absolute;
    left: 2vw;
    width: 8vw;
}

.dropDown {
    width: 74vw;
    height: 52vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 33vh;
    overflow-y: scroll;
}


.dropDown::-webkit-scrollbar {
    display: none;
}

.dropDownItem {
    background-color: #E8E8E8;
    width: 74vw;
    height: 6.5vh;
    border-radius: 0.4em;
    margin-top: 0.3em;
    padding-top: 0.8em;
    text-align: center;
}

.searchBoxContainer{
    display: flex;
    width: 74vw;
    height: 10vh;
    position: absolute;
    top: 23vh;
    width: 74vw;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
}
 

/* מתכונים */

.bottomNavBar {
    height: 13vh;
    position: fixed;
    bottom: 0;
    overflow-x: scroll;
    width: 100vw;
    display: flex;
    background-color: #E8E8E8;
}

.bottomNavBar::-webkit-scrollbar {
    display: none;
}

.bottomNavBarPic {
    height: 5vh;
    padding:  0 2.3em;
}

.bottomNavBarTopic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.3em;
}

.bold {
    font-weight: 800;
    font-size: 1.1em;
}

.recipesScrollContainer {
    position: absolute;
    top: 12vh;
    overflow-y: scroll;
    height: 67vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.recipesScrollContainer::-webkit-scrollbar {
    display: none;
}

.recipeDisplay  {
    height: 18vh;
    width: 42vw;
    margin: 0.7em 0;
    position: relative;
}

.recipeDisplayPic {
    height: 18vh;
    width: 42vw;
}

.recipeDisplayText {
    color: white;
    width: 40vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.527);
    position: absolute;
    bottom: 0;
    font-weight: 400;
    padding: 1vh 1vw;
}

.recipeContent {
    position: absolute;
    top: 10vh;
    overflow-y: scroll;
    height: 77vh;
    -webkit-user-select: text;
    font-size: 1.2em;
}

.recipeContent::-webkit-scrollbar {
    display: none;
}

.recipeContentHeadline {
    font-weight: 800;
    font-size: 1.6em;
    padding: 0.2em 0.4em;
}

.recipeContentPic {
    width: 100vw;
    height: 35vh;
}
.recipeContentDescription {
    font-weight: 200;
    padding: 0 0.9em 0.5em;
    border-bottom: solid rgb(158, 157, 157) 0.13em;
}

.recipeContentIngredientHead {
    font-weight: 800;
    font-size: 1.3em;
    padding: 0.2em 0.4em;
    border-top: solid rgb(158, 157, 157) 0.09em;
}

.ingredientContainer, .preparationContainer {
    display: flex;
    align-items: start;
    padding: 1em 0.6em;
}

.ingredientCheckPic, .preparationCheckPic {
    width: 6vw;
    padding-left: 0.6em;
}

.recipeInfoConteiner {
    display: flex;
    padding: 0.4em 0;
    justify-content: space-evenly;
}

.headers {
    font-weight: 200;
    color: rgb(88, 88, 88);
    text-align: center;
    direction: rtl;
    width: 35vw;
    padding: 0 0.1em;
}

.recipeInfoPics {
    width: 6vw;
    padding-left: 0.2em;
}

.recipeInfoText {
    color: black;
    padding-top: 0.3em;
}

.quantity, .difficulty {
    border-left: solid rgb(158, 157, 157) 0.13em;
    width: 31vw;
}

.quantity {
    width: 28vw;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* תפריט */
.menuPage {
    position: absolute;
    top: 10.5vh;
    overflow-y: scroll;
    font-weight: 800;
    font-size: 1.7em;
    height: 75vh;
}

.menuPage::-webkit-scrollbar {
    display: none;
}

.menuItem {
    display: flex;
    width: 100vw;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid rgb(158, 157, 157) 0.09em;
}

.menuContainer.recipe {
    border-top: solid rgb(158, 157, 157) 0.09em;
}

.menuItemicon {
    width: 8vw;
    padding: 0.3em 0.5em;
}

.menuItemArrow {
    height: 3vh;
    width: 5.5vw;
    padding: 0.3em;
    padding-left: 1em;
}

.menuItemContainer, .menuDropDownItemContainer {
    display: flex;
    align-items: center;
}

.menuDropDownItemContainer {
    background-color: rgb(194, 193, 193);
    font-size: 1.5rem;
    height: 8vh;
    border-bottom: solid rgb(158, 157, 157) 0.09em;
}

.menuDropDownItemicon {
    width: 6.5vw;
    padding: 0.3em 0.5em;
}

.backToHome {
    width: 6vw;
    left: 64vw;
    position: absolute;
}

/* גלריה */
.galleryScrollContainer {
    position: absolute;
    top: 10.5vh;
    overflow-y: scroll;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.galleryScrollContainer::-webkit-scrollbar {
    display: none;
}

.galleryScrollDisplay {
    height: 14vh;
    width: 31vw;
    margin: 0.3em 0;
    background-size: cover;
}

.galleryScrollDisplayPic {
    height: 100%;
    width: 100%;
}

.picDisplayContiner {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 84vw;
    z-index: 2;
}

.galleryDisplayPic {
    height: 35vh;
    width: 84vw;
}

.galleryDisplayText {
    background-color: #E8E8E8;
    text-align: center;
    padding: 0.2em 0;
    font-size: 1.5em;
    font-weight: 800;
}

.galleryDisplayArrows {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.3em;
}

.arrow {
    width: 12vw;
    padding: 0.3em;
}

.galleryToRecipe {
    width: 38vw;
    position: absolute;
    left: 50%;
    top: -18%;
    transform: translateX(-50%);
}

/* סרטוני וידיאו וחומרי לימוד */
.soonContainer {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: 800;
}

.videosPage .backToMain {
    width: 45vw;
    display: block;
    padding: 0.6em;
}
.learningPage .backToMain {
    width: 45vw;
    display: block;
    padding: 0.6em;
}

/* כללי - חשוב שיהיה למטה */
.hidden {
    display: none;
}

.gray {
    filter: grayscale(100);
}

/* @keyframes slideIn {
    100% {
         transform: translateX(0vw);
    }
}

.recipesScrollContainer.slideInLeft {
    transform: translateX(100vw);
    animation: slideIn 0.5s;
}

.recipesScrollContainer.slideInRight {
    transform: translateX(-100vw);
    animation: slideIn 0.5s;
} */